@media screen and (min-width: 1281px) and (max-width: 1366px) {
@charset "utf-8";
/* CSS Document */
body{
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	background:#fff;
	}
#principal {
	font-family:Verdana, Geneva, sans-serif;
	margin:0  auto;
	font-size:14px;
	width:96%;
	}
#topo {
	width:100%;
	height:15.098829%;
	background:url(../img/topo_verde_notbook1366.jpg) no-repeat;
	background-size:100%;
	border-top:0.45em;
	border-top-style:solid;
	border-top-color:#ff6600;
	border-bottom:0.225em;
	border-bottom-style:solid;
	border-bottom-color:#ff6600;
	z-index:30;
	}
h1 {
	width:100%
	position:relative;
	color:#000;
	z-index:99999;
	margin-left:-228.77013% ;
	padding:0;
	}
#menu1 {
	width:100%;
	margin-top:10.675939%;
	background:#000;
	padding: 1.243851% 0;
	background:#000;
	}
#menu1 ul, #menu1 li{
	display:inline;	
	}
#menu li a {
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	padding: 1% 2%;
	background:#000;
	margin:0 ;
	text-decoration:none;
	color:#fff;
	font-weight:bold;	
	
	}
#menu li a:hover {
	background:#fff;
	color:#000;
	
	
	}
#menu li .columns {
	position:absolute; /* Importante para posicionar o conteúdo do dropdown */
	left:-999999px; /* Esconde o dropdown quando o mouse não está em cima do link */
	padding:0.7625671% 1.525134% 0.7625671% 1.525134% ;/*preenciento da tabela*/
	border-top:none;/*borda da tabela*/
	background:#333;/*cor de fundo da tabela*/
	width: 28%;/*tamanho da tabela*/
	z-index:45;
	margin-top:1%;/*açtura da tabela em relação ao link Serviços*/	
}
#menu li:hover .columns{/*posição da tabela quando o clica em serviços*/
	left:44.5%;
	
}
#menu ul li {
	line-height:1.601391%;/*altura da fonte nas listas*/
}
#menu li ul.col{ /*coluna da tabela*/
	display:inline;
	float: left;
	position: relative;
	padding:0;
	margin:0 0 0 0;/*margem entre as duas colunas*/
	width:50%;
}
#menu li ul.col li {
	margin:0 0 0 0;
	list-style-type:none;
	position:relative;
	float:none;
	background:;
}
#menu li .col li:hover {
	margin:0 0 0.7625671% 0;
}
/*#menu li .col span{
	font-size:12px;
	font-weight:bold;
	color:#333;
	
}*/
#menu li .col li a{
	font-size:0.9em;
	font-weight:bold;
	color:#fff;
	background:#000;
	height:2.287701%;
	line-height:2.3em;
	display:block;
	text-align:left;
	text-decoration:none;
	padding:0.5em 0 0.5em 1em;
	margin:8% 5% 8% 3%;/*posicionamento de um link para o outro, empurra um bloco para baixo do outro com um espaçamento*/
	
	
}
#menu li .col li a:hover{
	color:#000;
	background:#fff;	
	
	
	}


	
	
				/*
				.janelaModal{
				position: fixed;
				font-family:Verdana, Geneva, sans-serif;
				top: -100px;
				right: 0;
				bottom: 0;
				left: 0;
				background: rgba(255,255,255,0.3);
				z-index: 99999;
				opacity: 0;
				-webkit-transition: opacity 300ms ease-in;
				-moz-transition: opacity 300ms ease-in;
				transition: opacity 300ms ease-in;
				pointer-events: none;
				
				
			}
			
			.janelaModal:target{
				opacity: 1;
				pointer-events: auto;
			}
			/*#81bb03;*//*
			
			.janelaModal  div{
				width: 500px;
				height: 500px;
				position: relative;
				margin: 15% auto 0 auto;
				padding: 5px 20px 13px 20px;
				border-radius: 10px;
				background: #A7CF4F;
				background:-moz-linear-gradient(#fff.green);
				background:-webkit-linear-gradient(#fff.green);
				background:-o-linear-gradient(#fff.green);
				border: 2px solid black;
			}
			.fechar{
				background: #f25022;
				color: #fff;
				line-height: 25px;
				position: absolute;
				right: -12px;
				text-align: center;
				top:-10px;.
				
				width: 64px;
				text-decoration: none;
				font-weight: bold;
				-webkit-border-radius: 12px;
				-moz-border-radius:12px;
				border-radius:12px;
				-moz-box-shadow: 1px 8px 3px pink;
				box-shadow: 1px 1px 3px #000;
			}
			.fechar:hover{
				background: #ffb901;
			}
			.enviar{
				background: #f25022;
				color: #fff;
				line-height: 25px;
				position: absolute;
				left: 230px;
				text-align: center;
				top: 475px;
				width: 64px;
				text-decoration: none;
				font-weight: bold;
				-webkit-border-radius: 12px;
				-moz-border-radius:12px;
				border-radius:12px;
				
				
			}
			.enviar:hover{
				background: #ffb901;
				color:#000;
			}
		 form {
				font-family:Verdana, Geneva, sans-serif;
				font-size:100%;						
				}
		 form>fieldset>legend {
				font-family:Verdana, Geneva, sans-serif;
				font-size: 22px;	
				text-align:left;	
				font-weight:bold;
				
								
				}
		form  #lab {
			font-weight:bold;
			position:absolute;
			top: 40px;			
			color:#000;
			}
			 #nome{
			position:absolute;
			top: 40px;
			left: 100px;	
			border: 1px solid black;
			border-radius:7px;	
			
			
			}
		form #emp{
			position:absolute;
			font-weight:bold;
			top: 80px;		
			color:#000;	
			}
			#empresa {
				position:absolute;
				top:80px;
				left: 100px;
				border: 1px solid black;
				border-radius:7px;	
				size:50;		
			}
		
		form #em{
			position:absolute;
			top:120px;
			font-weight:bold;
			color:#000;
			}
			#email{
				position:absolute;
				top:120px;
				left:100px;	
				border: 1px solid black;
				border-radius:7px;	
				size:50;				
				}
		form #tel{
			position:absolute;
			top:160px;
			font-weight:bold;
			color:#000;
			}
			form #telefone {
				position:absolute;
				top:160px;
				left:100px;	
				border: 1px solid black;
				border-radius:7px;		
				size:50;			
				}
		form span{
				position:absolute;
				top:210px;
				font-weight:bold;
				color:#000;
				font-size:18px;
			
			
			}
		form #area{
			position:absolute;
			top: 230px;
			border-radius:10px;
			border: 1px solid black;
			
			
			
			}
				*/


#banner_rotativo>ul, #banner_rotativo>li {
		display:block;
	}
#banner_rotativo{
	margin: 0.7625671% 0 0 0;
	width:100%;
	height:30em;
	overflow:hidden;
	border-radius: 0.5em;
	background: rgba(255, 255, 255, .5);
	position:relative;
	
}
#box-1, #box-2, #box-3, #box-4,#box-5, #box-5-1{
	width: 100%;
	
	}
#banner_rotativo img{
	 width:100%;
	 
	}
#next-prev{
	width:100%;
	height:4.727916%;
	position:absolute;
	top:40%;
	z-index:40;
	
	
	}
#prev {
	width:4%;
	height:5em;
	float:left;
	display:block;
	margin-left: 1%;
	cursor:pointer;
	background:url(../img/seta-slide-esq.png) no-repeat;
	z-index:20;
	}
#next{
	width:4%;
	height:5em;
	float:right;
	display:block;
	margin-right: 1%;
	cursor:pointer;
	background:url(../img/seta-slide-direita.png) no-repeat;
	z-index:20;
	}

#auxiliar1 img.enquete{
	width: 50%;
	margin-left: 25%;
	}

#auxiliar1{
	width:68.8%;
	height:37.241649%;
	float:left;
	background:#fff;
	margin: 1.064047% 0 0 0;
	}
#auxiliar1 p{
	text-align:justify;
	font-size:1.2em;
	margin-top: 4.256188%;
	width:95%;
	margin: 2.128094% 2.128094% 0 2.128094%;
	line-height: 2.3em;
	}
#auxiliar {	
	width: 30%;
	float:right;
	height:20em;
	background:	#FFF;
	margin: 3.192141% 0 0 0;
	padding: 0px;
	overflow:hidden;	
	background: rgba(255, 255, 255, .5);
	}

ul .banner2 {
	width:100%;
	height: 20em;

	}
#box-6, #box-7, #box-8, #box-9, #box-10, #box-11{
		width: 100%;
		
}
#box-6 {
	background:transparent;
	
}
#box-7 {
	background:transparent;
}
#box-8 {
	background:transparent;
	}
#box-9 {
	background:transparent;	
	}
#box-10 {
	background:transparent;
	
	}
#auxiliar img{
	width:96%;	
	}
#conteudo {
	clear:both;
	width:100%;
	background:#fff;
	font-family:Verdana, Geneva, sans-serif;
	font-size:1em;
	margin-top:1%;
	margin-bottom:1%;
	}

#conteudo h2 {
	text-align:center;
	font-weight:bold;
	font-size: 1.8em;
	margin-top: 0.7625671%;
	margin-bottom:1.525134%;
	}
#tabela_conteudo{
	width:100%;
	}
#tabela_conteudo2{
	display:none;
	width:100%;
	}
#tabela_conteudo td {
	width:20%;
	}
/*#cont_box1{
	float:left;
	width:23%;
	height:275px;
	margin-left:0;
	
	}*/
img.cont1 {
	width:90%;
	padding:4.236484% 6.354726%;
	display:block;
	border-radius:12.709452%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	outline:none;
	}
/*#cont_box2{
	width:23%;
	height:275px;
	margin-left:2.6%;
	float:left;
	}
img.cont2 {
	float:left;
	width:100%;
	display:block;
	border-radius:30px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition: all 1s ease;
	}
#cont_box3{
	float:left;
	width:23%;
	height:275px;
	margin-left:2.6%;
	clear:right;
	}
img.cont3 {
	float:left;
	width:100%;
	display:block;
	border-radius:30px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition: all 1s ease;
	
	}
#cont_box4{
	width:23%;
	height:275px;
	float:
		
	}
img.cont4 {
	width:100%;
	display:block;
	border-radius:30px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition: all 1s ease;
	
	}
#cont_box5{
	clear:both;
	width:23%;
	height:275px;
	margin-left:0;
	margin-top:0.1%;
	}
img.cont5 {
	float:left;
	width:100%;
	display:block;
	border-radius:30px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition: all 1s ease;
	}
#cont_box6{
	float:left;
	width:20%;
	width:30%;
	height:275px;
	margin-left:68%;	
	margin-top:-275px;
	}
#conteudo img.cont6 {
	width:100%;
	display:block;
	border-radius:30px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition:all 1s ease;
	-ms-transition: all 1s ease;
	} */
img.cont1:hover, img.cont2:hover, img.cont3:hover, img.cont4:hover, img.cont5:hover, img.cont6:hover {
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2) ;
	-o-transform:scale(1.2));
	-ms-transform:scale(1.2);
	outline:none;		
	}
#rodape {
	clear:both;
	font:Verdana, Geneva, sans-serif;
	width:100%;
	height:7em;
	color:#333;
	background:#000;
	}
#icones{
	float:right;
	width:39%;
	height:60%;
	margin-top:2%;
	}
#rodape .ic1{
	float:right;
	margin: 0 3% 0 0 ;
	display:block;
	width:11%;
	}
#rodape .ic2{
	float:right;
	margin: 0 3% 0 0 ;
	display:block;
	width:11%;	
	
	}
#rodape .ic3{
	float:right;
	margin: 0 3% 0 0 ;
	display:block;
	width:11%;	
	
	}
#rodape .ic4{
	float:right;
	margin: 0 3% 0 0 ;
	display:block;
	width:11%;	
	}
#rodape .ic5{
	float:right;
	margin: 0 6% 0 0 ;
	display:block;
	width:11%;	
	
	}

#rodape #um {
	width:50%;
	float:left;
	height:60%;
	margin-top:1%;
	}
#rodape h2{
	font-size:2em;
	margin: 2% 0 0 0;
	text-align:right;
	color:000;
	}
#rodape #paragra{
	font-size:0.8em;
	color:#fff;	
	text-align:right;
	margin-top:0.5%;
	margin-right:1%;
	}
#rodape .juntar{
	color:#f25022;
	}
#rodape .ideias{
	color:#81bb03;
	
}
}
	

